<!DOCTYPE html>
<html>
<head>
  <title>Myproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo1.jpg") %>
		<%= @page_title || "Các công nghệ mới trong phát triển phần mềm" %>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www..../product">Product</a></li>
				<li><a href="http://www..../category">Category</a></li>
				<li><a href="http://www..../about">About</a></li>
			</ul>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
